# Copyright (c) 2023-2026, Intel Corporation
#
# SPDX-License-Identifier: BSD-3-Clause

BasedOnStyle: LLVM
IndentWidth: 8
Language: Cpp
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
UseTab: Never
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlwaysBreakAfterReturnType: All
SortIncludes: false
BreakBeforeInheritanceComma: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
BinPackArguments: true
ReflowComments: true
ColumnLimit: 100
Cpp11BracedListStyle: false
MaxEmptyLinesToKeep: 1
ContinuationIndentWidth: 8
SpaceAfterCStyleCast: true
