*.d
*.pdb
*.dll
*.lib
*.exp
*.obj
*.o
*.so*
*.a
*.d
*.dep
*~
imb-perf*
imb-kat*
imb-xvalid*
imb-fuzz-*
imb-acvp*
imb-wycheproof*
imb-burst*
*_lnk.def
TAGS
!wycheproof.c
!ipsec_perf.c
.cppcheck
.bughunt
/docs
